body {
  background-color: rgb(222, 222, 221);
  background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  color: black;
  width: 100vw;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  backdrop-filter: blur(2px);
}

h1, h2 {
  font-family: 'DM Serif Display', serif;
  color: rgb(10, 11, 85);
}

h1 {
  font-size: 44px;
}

a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

nav a {
  color: rgb(10, 11, 85);
}

nav a:visited {
  color: rgb(10, 11, 85);
}

main a {
  color:#EEE;
}

main a:visited {
  color:#EEE;
}

button {
  color: #0a0b55;
  padding: 0.7em 1em;
  font-size: 22px;
  font-family: 'Quattrocento', serif;
  border-radius: 0.5em;
  background: #dfdfdf;
  border: 1px solid #e4e4e4;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #f1f1f1;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
}