main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-photo {
  height: 50vh;
  border-radius: 50%;
	flex-shrink: 0;
	margin: 20px;
	border: calc(6px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
	background-image: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=350&h=350&fit=crop&crop=faces), 
  /* linear-gradient(to bottom right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) */
  linear-gradient(to bottom right, #6ae6f9, #233ff8)
  /* linear-gradient(to bottom right, #92EFFD, #4E65FF) */
  /* linear-gradient(to bottom right, #c4c5c6, #1d2762); */
  /* linear-gradient(to bottom right, #63e7fe, #1e2a79); */
}
