.badges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resume {
  width: 80vw;
  height: 50vh;
  margin: 5vh;
}

@media only screen and (max-width: 900px) {
  #resume {
    width: 90vw;
  }
}